<ion-header [translucent]="true">
  <ion-toolbar>
   <span slot = "start"><i class = "fi-rr-apps"></i></span>
   <span slot = "end"><i class = "fi-rr-bell"></i></span>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="heading">
   <h1>Dating.ie</h1>
   <h3>Find Your <span>Match</span></h3>
   
   <div class="search-bar">
     <ion-input placeholder="Search"></ion-input>
     <i class="fi-rr-search"></i>
   </div>

   <div class="profile-cards">
     <ion-card>
       <div class="like-info">
         2.5k <ion-icon name="heart-outline"></ion-icon>
       </div>
       
       <div class="user-info">
         <p>Emily, 21</p>
         <img src="images/girl-three.jpg" alt="">
         <p><i class="fi-rr-location-alt"> </i>(2km) </p>
       </div>
     </ion-card>
     <ion-card>
      <div class="like-info">
        4.5k <ion-icon name="heart-outline"></ion-icon>
      </div>
      
      <div class="user-info">
        <p>Chloe, 24</p>
        <img src="/images/girl-two.jpg" alt="">
        <p><i class="fi-rr-location-alt"> </i>(12km) </p>
      </div>
    </ion-card>
    <ion-card>
      <div class="like-info">
        6k <ion-icon name="heart-outline"></ion-icon>
      </div>
     
      <div class="user-info">
        <p>Olivia, 27</p>
        <img src="/images/girl-one.jpg" alt="">
        <p><i class="fi-rr-location-alt"> </i>(28km) </p>
      </div>
    </ion-card>
   </div>
   <div class="story-section">
     <div id ="divider"></div>
       <h3>People You May Know</h3>
       <div class ="stories">
         <div class="story" *ngFor="let story of [].constructor(10);let i = index">
           <ion-avatar>
             <i class="fi-rr-plus-small" *ngIf="i==0"></i>
             <img src="https://i.pravatar.cc/{{(i+10)*10}}" alt="">
           </ion-avatar>
           <p>User</p>
         </div>
       </div>
  </div>
  </div>
  </ion-content>
